@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page Font  */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: normal;
  src: url("https://fonts.animaapp.com/Sansation-Regular") format("WOFF2");
}

@font-face {
  font-family: 'Sansation Light';
  font-style: normal;
  font-weight: normal;
  src: url("https://fonts.animaapp.com/SansationLight-Light") format("WOFF2");
}

@font-face {
  font-family: 'Sansation Bold';
  font-style: normal;
  font-weight: normal;
  src: url("https://fonts.animaapp.com/Sansation-Bold") format("WOFF2");
}

/* Tag styles */

@layer base {
  
  .h1 {
    @apply text-3xl font-bold md:text-4xl;
  }

  .h2 {
    @apply text-2xl font-bold md:text-3xl;
  }

  .h3 {
    @apply text-xl font-bold md:text-2xl;
  }

  .h4 {
    @apply text-lg font-bold;
  }

  body {
    @apply text-sm md:text-base;

    font-family: 'Sansation', 'Sansation Light', 'Sansation Bold';
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
  }

  p{
    font-family: 'Sansation';
    @apply text-gray-400
  }

  small{
    @apply text-gray-400;
  }
}

.pageWrapper{
  @apply h-full;
}

main{
  max-width: 1248px;
  width: 90%;
  margin: 0 auto;
  /* height: 100vh; */
}

.link{
  @apply text-lg font-bold;
  text-decoration: underline;
  text-decoration-color: rgb(49, 46, 129);
  text-underline-offset: 0.65em;
  text-decoration-thickness: 6px;
}

.link:hover{
  @apply text-purple-900;
}

.logo{
  @apply w-5 h-7 md:w-7 md:h-9 text-indigo-600;
}

.logo:hover{
  
}

body::-webkit-scrollbar {
  @apply w-2;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  @apply bg-indigo-900 shadow-inner rounded;
}

html{
  scroll-behavior: smooth;
  margin: 0;
}