/* -------------------- hero -------------------- */

.hero{
  @apply flex flex-col sm:pt-40 sm:mb-32 relative justify-center h-screen;
}

.heroMain{
  @apply flex flex-col gap-16 my-auto;
}

.heroText{
  @apply flex flex-col gap-4 text-center w-full;
}

.heroText p{
  @apply text-white;
}

.heroH3{
  @apply text-base lg:text-lg font-bold;
/*   font-family: 'Sansation Bold'; */
}

.heroText h3{
 @apply text-indigo-700;
}

.heroText h1{
  @apply text-3xl font-bold sm:text-6xl;
}

.heroText p{
  @apply sm:w-3/4 mx-auto;
}

.heroContact{
  @apply flex flex-row gap-8 justify-center;
}

.heroContactH3{
  @apply text-lg font-bold;
}

.heroLinks{
  @apply text-white w-7 h-9;
}

.heroLinks:hover{
  @apply text-indigo-700;
}

.linksHolder{
  @apply flex flex-row gap-8;
}

.scroll{
  @apply lg:mt-32 flex justify-center text-center pb-1;
}

.scroll p{
  @apply border-t-2 border-l-2 border-r-2 border-indigo-900;
  width: 10em;
}

.scroll p:hover{
  cursor: pointer;
}

/* -------------------- featured projects -------------------- */

.featured{
  @apply flex flex-col pb-16;
}

.divLine{
  @apply w-full mb-24;
  height: 1px;
}
/* -------------------- My story -------------------- */
.about{
  @apply py-16 items-center;
}

.about h1{
  @apply mb-8;
}

.aboutHolder{
  @apply flex flex-col w-full md:w-5/6 mx-auto gap-1;
}

.aboutText{
  @apply flex flex-col gap-5 my-8;
}

.reachOut{
  text-decoration: underline;
  text-decoration-color:rgb(49, 46, 129);
  text-underline-offset: 0.65em;
  text-decoration-thickness: 3px;
}

/* -------------------- My skills -------------------- */
.skills{
  @apply flex flex-col py-16;
}

.skills h1{
  @apply mb-8;
}

.skills span{
  @apply text-gray-400;
}

.skillsHolder{
  @apply grid gap-5 grid-cols-2 sm:grid-cols-4 w-full md:w-5/6 mx-auto my-8;
}
